<!--
  --  The login success message
  -->
<div class="success">Anmeldung erfolgreich</div>
Sie werden weitergeleitet nach: <p><a href="${FORM_redirurl:-$FORM_userurl}">${FORM_redirurl:-$FORM_userurl}</a></p>
Um sich <b>abzumelden</b>, geben Sie "logout" (or "http://logout/") in die Adresszeile Ihres Browsers ein.

