<p style="clear:both;"><b>Nutzungsbedingungen</b></p>

<p>Über diesen Zugang erlangen Sie Zugang zum Internet und weiteren Diensten der schulischen IT-Infrastruktur.</p>

<p>Eine Mißbräuchluche Verwendung des Netzzugangs ist verboten. Es gilt die Benutzerordnung des Schulnetzes.</p>

<p>Sollten Sie Sicherheitslücken finden oder Personen beobachten, die diesen Netzzugang mißbräuchlich nutzen, teilen Sie dies bitte dem Netzwerkberater mit.</p>

<ul>
<li>Es ist verboten, die eingerichteten Zugangsbeschränkungen zu umgehen. Bereits der Versuch führt zum Entzug der weiteren Nutzungserlaubnis und kann weitere disziplinarische Folgen haben.</li>
<li>Es ist verboten, sich mit anderen als den eigenen Anmeldedaten am Netzwerk anzumelden.</li>
<li>Es ist verboten, im WLAN Daten anderer Nutzer auszuspähen.</li>
</ul>

<p style="clear:both;"><b>Datenschutz</b></p>

<p>Aus Sicherheitsgründen werden alle Internet Adressen, die von diesem Zugang aus aufgerufen werden für 30 Tage gespeichert.</p>

<p>Diese Daten können vom Netzwerkbetreuer eingesehen werden und werden nicht ohne richterlichen Beschluß an Dritte weitergegeben.</p>

<p>Nach 30 Tagen werden diese Daten automatisch gelöscht.</p>

<b>Mit der Anmeldung am Netzwerk akzeptieren Sie diese Nutzungsbedingungen</b>
