<p style="clear:both;"><b>Nutzungsbedingungen</b></p>

<p>Über diesen Zugang erlangen Sie Zugang zum Internet und weiteren Diensten der schulischen IT-Infrastruktur.</p>

<p>Eine Mißbräuchluche Verwendung des Netzzugangs ist verboten. Es gilt die Benutzerordnung des Schulnetzes.</p>

<p>Sollten Sie Sicherheitslücken finden oder Personen beobachten, die diesen Netzzugang mißbräuchlich nutzen, teilen Sie dies bitte dem Netzwerkberater mit.</p>

<ul>
<li>Es ist verboten, die eingerichteten Zugangsbeschränkungen zu umgehen. Bereits der Versuch führt zum Entzug der weiteren Nutzungserlaubnis und kann weitere disziplinarische Folgen haben.</li>
<li>Es ist verboten, sich mit anderen als den eigenen Anmeldedaten am Netzwerk anzumelden.</li>
<li>Es ist verboten, im WLAN Daten anderer Nutzer auszuspähen.</li>
</ul>

<b>Mit der Anmeldung am Netzwerk akzeptieren Sie diese Nutzungsbedingungen</b>
